@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage-welcometext">
    <h1>Welcome to the Living PokeDex!</h1>
</div>

<div class="homepage-nav-btns">
    <a asp-action="Index" asp-controller="Pokemon" class="btn btn-primary" id="index-page-btn">Pokemon List</a>
</div>
